#open{
	width: 100%;
	height: auto;
	transition-duration: 0.5s;
    transition-timing-function:ease-in;
}
#close{
	width: 0;
	height: 0;
	opacity: 0;
	transition-duration: 0.5s;
    transition-timing-function:ease-in;
    overflow: hidden;
}
