/*#open{
	width: 100%;
	height: auto;
	transition-duration: 0.5s;
    transition-timing-function:ease-in;
}
#close{
	width: 0;
	height: 0;
	opacity: 0;
	transition-duration: 0.5s;
    transition-timing-function:ease-in;
    overflow: hidden;
}
*/

#backgroundImage{
	background-image: url("../images/template.jpg");
	background-position: center;
	background-repeat: no-repeat;
}
.textAlert{
	background-color: rgb(132, 99, 117, 0.5);
	padding: 1vw;
	color: rgb(255, 255, 186);
	border-radius: 1vw;
}
.sweetButton{
	background-color: rgb(41, 239, 49);
	padding: 1vw;
	color: rgb(255, 255, 186);
	border-radius: 1vw;
	margin: 0;
}